{% extends "base.html" %}

{% block contenido %}

<h1>Lista de Turnos</h1>
<a href="{% url 'crear_turno'%}">Reservar Turno</a>
<section>
    <div>
        <table class="table">
            <tbody>
                <tr>
                    <th>Cliente</th>
                    <th>Barbero</th>
                    <th>Servicio</th>
                    <th>Fecha del turno</th>
                    <th>Hora del turno</th>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                {% for turn in object_list %}
                <tr>
                    <td>{{ turn.cliente }}             </td>
                    <td>{{ turn.barbero }} </td>
                    <td>{{ turn.servicio }}            </td>
                    <td>{{ turn.fecha_turno }}            </td>
                    <td>{{ turn.hora_turno }}            </td>

                    <td>
                        <a href="{% url 'ver_turno' turn.id %}">
                            <i class="bi bi-eye"></i>
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'modificar_turno' turn.id %}">
                            <i class="bi bi-pencil"></i>
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'eliminar_turno' turn.id %}">
                            <i class="bi bi-trash"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>

{% endblock contenido %}