{% extends "base.html" %}

{% block contenido %}

<h1>Lista de Servicios</h1>
<a href="{% url 'crear_servicio'%}">Agregar un Servicio</a>
<section>
    <div>
        <table class="table">
            <tbody>
                <tr>
                    <th>Tipo</th>
                    <th>Duracion (en minutos)</th>
                    <th>Costo</th>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                {% for serv in object_list %}
                <tr>
                    <td>{{ serv.tipo }}             </td>
                    <td>{{ serv.duracion_minutos }} </td>
                    <td>{{ serv.costo }}            </td>

                    <td>
                        <a href="{% url 'ver_servicio' serv.id %}">
                            <i class="bi bi-eye"></i>
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'modificar_servicio' serv.id %}">
                            <i class="bi bi-pencil"></i>
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'eliminar_servicio' serv.id %}">
                            <i class="bi bi-trash"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>

{% endblock contenido %}